<h1> Inventory: </h1>
<%= form_tag(champion_path, method: :get) do%>

<%= radio_button_tag 'options', 1, false %> Champion
<%= radio_button_tag 'options', 2, false %> Spell <br/>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<table>
<thead>
<tr>
<th>Product name</th>
<th>Description</th>
<th>Price</th>
<th>Quantity</th>
<th>Image</th>
  </tr>
  </thead>

    <tbody>
    <% @product.each do |product| %>
      <tr>
        <td><%= link_to product.productname, "products/#{product.id}" %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= product.category%> </td>
        <td><%= image_tag product.image %></td>
      </tr>
    <% end %>
  </tbody>
</table>