<h1> Inventory: </h1>
<details>
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p>No items in cart.</p>
  <% else %>
    <ul>
      <% @cart.each do |product| %>
        <li><%= product.productname %> - <%= number_to_currency product.price / 1.0 %> - <%= link_to 'remove from cart', remove_from_cart_path(product), method: :delete %></li>
      <% end %>
        <br/><strong>Cart total: <%= number_to_currency @cart.sum(&:price) %> </strong><br/>
    <%= link_to "Checkout", "http://localhost:3000/products/cart"%>

    </ul>
  <% end %>
</details>
<%= form_tag(products_path, method: :get) do%>

<%= radio_button_tag 'options', 1, true %> Product
<%= radio_button_tag 'options', 2, false %> Health
<%= radio_button_tag 'options', 3, false %> Flu
<%= radio_button_tag 'options', 4, false %> Sleep
<%= radio_button_tag 'options', 5, false %> Topical <br/>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<table>
<thead>
<tr>
<th>Product name</th>
<th></th>
<th>Description</th>
<th>Price</th>
<th>Quantity</th>
<th>Category</th>
<th>Buy Now</th>
  </tr>
  </thead>

    <tbody>
    <%@product.each do |product| %>
      <tr>
        <td><%= link_to product.productname, "products/#{product.id}" %></td>
        <% if product.image%>
          <td><%= image_tag product.image, height: 150, width: 150 %></td>
          <% end %>
        <td><%= product.description %></td>
        <td><%= number_to_currency product.price / 1.0 %></td>
        <td><%= product.quantity %></td>
        <td><%= product.category.categoryname%> </td>
        <td><%= button_to "Buy Now!", checkout_create_path, params: { id: product.id }, remote: true %></td>
        <% if @cart.include?(product) %>
          <td><%= button_to 'Remove from Cart', remove_from_cart_path(product), method: :delete %></td>
          <%else%>
        <td><%= button_to "Add to Cart", add_to_cart_path(product.id), method: :post %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @product %>