<h1> Checkout: </h1>

<table>
<h3> Items within Order </h3>
<%= form_for(:quantity) do |f| %>
<% @cart.each do |product| %>
        <tr>
        <td><li><%= product.productname %> - <%= number_to_currency product.price / 1.0 %>  <%= f.label :quantity %> <%= 1 %> </li></td>
        </tr>
      <% end %>
      </table>
<% end %>
<strong>Subtotal: $<%= @cart.sum(&:price) %> </strong><br/>
<strong>PST: <%= number_to_currency @cart.sum(&:price) * 0.07 %> </strong><br/>
<strong>GST: <%= number_to_currency @cart.sum(&:price) * 0.05 %> </strong><br/>
<strong>Total: <%= number_to_currency @cart.sum(&:price) * 1.12 %> </strong><br/>
<%= link_to "Submit Order", "http://localhost:3000/products/submission"%>


