        <br/><td><%= @product.productname %></td>
        <td><%= @product.description %></td>
        <td><%= @product.price %></td>
        <td><%= @product.quantity %></td>
        <td><%= @product.category%> </td>
        <td><%= image_tag @product.image %></td>