<h1> Thank you for your order! </h1>

<table>
<h3> Items Ordered: </h3>
<%= form_for(:quantity) do |f| %>
<% @cart.each do |product| %>
        <tr>
        <td><li><%= product.productname %> - <%= number_to_currency product.price / 1.0 %>  <%= f.label :quantity %> <%= 1 %> </li></td>
        </tr>
      <% end %>
      </table>
<% end %>

<h3> Order Details </h3>
<% if user_signed_in? %>
<td><strong><%= current_user.name %></strong><br/></td>
<strong><%= current_user.address %></strong><br/>
<strong><%= current_user.city %>, <%= current_user.province %></strong><br/>
<strong><%= current_user.postalcode %></strong><br/>
<% else %>
<h2><%= "You are not signed in!" %></h2>
<% end %>

<br/><strong>PST: <%= number_to_currency @cart.sum(&:price) * 0.07 %> </strong><br/>
<strong>GST: <%= number_to_currency @cart.sum(&:price) * 0.05 %> </strong><br/>
<strong>Total: <%= number_to_currency @cart.sum(&:price) * 1.12 %> </strong><br/>

<h2> Thanks fer yer Dollars Bucko </h2>



