<!DOCTYPE html>
<html>
  <head>
    <title>Cotton Road</title>
        <%= link_to "Home", "http://localhost:3000/welcome"%>
        <%= link_to "About", "http://localhost:3000/about"%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
